<div class="row" ng-controller="MenuCtrl">
	<ul class="nav nav-list" id="nav">
		<li class="nav-header">Header</li>
		<!-- ur-sref는 index.html에 있는 ui-view영역에 web page를 삽입한다. 
		     해당 기능은 ui-router module에 있음.
		     click시에는 ui-sfre, Process처리중에는 $state.go(url)을 이용함.
		     url은 app.js에 정의가 되어 있음 
		 -->
		<li class="active"><a ui-sref="tweets">Tweeter</a></li>
		<li><a ui-sref="led">RGB LED</a></li>
		<li><a ui-sref="temperature">Temperature</a></li>
		<li><a ui-sref="q">$q</a></li>
		<!-- <li><a href ="testAjax" onclick="testAjax(this.href); return false;">Ajax</a></li> -->
		<li><a href ="{% url 'testAjax' %}" onclick="contentAjax(this.href); return false;">Ajax</a></li> <!-- 이렇게 하면 url을 urls.py에서만 관리하며 됨 -->
		<li><a ui-sref="todo">Todo</a></li>
		<li ng-repeat="board in boards"><a ui-sref="post({id:[[board.id]]})">[[board.title]]</a></li>
		<li><a ui-sref="samEmployee()">NCD</a></li>
		<li><a ui-sref="profile({ userId:AuthUser })">Profile</a></li>	
		<li><a ui-sref="register">Register</a></li>
		{% if user.is_authenticated %}     
			<li><a href="logout">Logout({{ user }})</a></li>
		{% else %}
			<li><a ui-sref="login">Login</a></li>
		{% endif %}
	</ul>
</div>
