

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">조회조건</div>
  <div class="panel-body">
    <p>
<form class="form-inline" role="form">
        <div class="form-group">
          <label class="sr-only">Email</label>
          <p class="form-control-static">기술등급</p>
        </div>
  <div class="form-group">
    <label for="inputPassword2" class="sr-only">Password</label>
    <div class="col-md-10">
      <select class="form-control col-md-10" ng-model="skill">
        <option ng-repeat="skill in skills" value="[[skill.code]]">[[ skill.name ]]</option>
      </select>
    </div>
  </div>
  <button type="submit" ng-click="submit(skill)" class="btn btn-default">Submit</button>
</form>
 </p>
  </div>
  
  <table class="table table-condensed table-hover">
    <tr>
      <th>Num</th>
      <th>Name</th>
      <th>Telephone</th>
      <th>address</th>
      <th>Dept</th>
      <th>Skill</th>
    </tr>
    <tr ng-repeat="employee in employees">    
        <!-- <td><a ui-sref= "employeeDetail"  onclick="contentAjax(this.href); return false;">[[employee.num]]</a></td> -->
        <td><a ui-sref= "employeeDetail({ id:[[employee.id]] })">[[employee.num]]</a></td>
        <!-- <td><a ng-click="detail([[employee.id]])">[[employee.num]]</a></td> -->
        <td>[[employee.name]]</td>
        <td>[[employee.telephone]]</td>
        <td>[[employee.address]]</td>
        <td>[[employee.department_code.name]]</td>
        <td>[[employee.skill_code.name]]</td>      
    </tr>
  </table>
</div>

<div id="employeeDetail"></div>
<!-- 
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><h5>상세 조회</h5></h3>
  </div>
  <div class="panel-body">

   <table class="table table-condensed">
    <tr>
      <th>번호</th><td>[[emp.num]]</td>
      <th>이름</th><td>[[emp.name]]</td>
    </tr>
    <tr>
      <th>생년월일</th><td>[[emp.birthdate]]</td>
      <th>성별</th><td>[[emp.sex]]</td>
    </tr>

    <tr>
      <th>전화번호</th><td>[[emp.telephone]]</td>
      <th>주소</th><td>[[emp.address]]</td>
    </tr>
    <tr>
      <th>직업등급</th><td>[[emp.joblevel_code.name]]</td>
      <th>기술등급</th><td>[[emp.skill_code.name]]</td>
    </tr>
    <tr>
      <th>부서정보</th><td rowspan=3>[[emp.department_code.name]]</td>
    </tr>
   </table>
  </div>
</div>
 -->